<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442594648503-bu9v0upvslic2bmtthotsc72kml981h8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442594648503-bu9v0upvslic2bmtthotsc72kml981h8</string>
	<key>API_KEY</key>
	<string>AIzaSyCpZdAJTzDkBaSg6iFmDCWCLDWhi6LINEU</string>
	<key>GCM_SENDER_ID</key>
	<string>442594648503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kosukesaigusa.recipe.development</string>
	<key>PROJECT_ID</key>
	<string>dev-recipe-app</string>
	<key>STORAGE_BUCKET</key>
	<string>dev-recipe-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442594648503:ios:c31f288a37c2eb44760832</string>
	<key>DATABASE_URL</key>
	<string>https://dev-recipe-app.firebaseio.com</string>
</dict>
</plist>